html, body{
    margin: 0px;
    background-color: #98e180;
    color: rgb(65, 58, 58);
    
}

.headerTitulo{
    background-color: black;
    text-align: center;
    color: white;
    height: 25vh;
    padding: 45px;
    font-size: 30px;
    background-image: url('../unnamed.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 86% 86%
    
}

#btnNuevo{
    background-color: rgb(235, 245, 105);
    color: black;
}

#btnPedir{
    background-color: rgb(69, 187, 192);
    color: black;
}

#btnDetener{
    background-color: rgb(255, 118, 118);
    color: black;
}

.carta{
    width: 150px;
    position: relative;
    left: 40%;
    margin-left: -80px;
}

#jugador-cartas, #computadora-cartas {
    height: 240px;
}