html, body{
    margin: 0px;
    background-color: #98e180;
    color: rgb(65, 58, 58);
    
}

.headerTitulo{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.carta{
    width: 150px;
    position: relative;
    left: 40%;
    margin-left: -75px;
}

#jugador-cartas, computadora-cartas {
    height: 240px;
}